@import '../../app.scss';

.hero {
  height: 100vh;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .wrapper {
    max-width: 1366px;
    width: 100%;
    padding: 0 20px;

    @include tablet {
      padding: 0 10px;
    }

    .textcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 2rem;
      gap: 20px;

      @include mobile {
        align-items: center;
        text-align: center;
      }

      .name {
        font-size: 4.5rem;
        color: rebeccapurple;
        letter-spacing: 10px;

        @include tablet {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 1.5rem;
        }
      }

      h1 {
        font-size: 4.5rem;
        margin-top: 20px;

        @include tablet {
          font-size: 3rem;
        }

        @include mobile {
          font-size: 2rem;
        }
      }

      .buttons {
        gap: 10px;
      
        .button-link {
          // Ensure the anchor tag behaves like a button
          display: inline-block; // Ensures proper button behavior
          text-decoration: none; // Remove underline from the link
        }
      
        .button {
          padding: 10px 20px; // Ensure consistent padding
          border: 1px solid white;
          background-color: transparent;
          color: white;
          cursor: pointer;
          transition: background-color 0.3s; // Optional: Add a transition for hover effects
      
          @include mobile {
            padding: 8px 16px; // Mobile padding adjustment
          }
          
          // Ensure both buttons have the same font size and box model
          font-size: 16px; // Set a specific font size
          box-sizing: border-box; // Ensure padding and border are included in total width/height
        }
      
        // Optional: Add hover effect
        .button:hover {
          background-color: rgba(255, 255, 255, 0.1); // Change background on hover
        }
      
    }
    }
  }

  .slidingTextContainer {
    position: absolute;
    bottom: 5px;
    font-size: 25vh;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.1);
    font-weight: bold;

    @include tablet {
      font-size: 8vh;
    }

    @include mobile {
      font-size: 6vh;
      bottom: 30px;
    }
  }
}
